@page
@model Adventure.Pages.RoomsModel
@using Adventure.Models
@{
    ViewData["Title"] = "Rooms";
}

<h1>@Model.Location.Title</h1>
<p>@Model.Location.Description</p>
<div>
    @foreach (var a in Model.Paths)
    {

        if (a.To == Areas.Gate)
        {
            <a class="btn btn-primary" asp-page="Start" , asp-route-id="@a.To">@a.Description</a>
        }
        else
        {
            <a class="btn btn-primary" asp-page="Rooms" , asp-route-id="@a.To">@a.Description</a>
        }
    }
    @if (Model.Location.Title == "King")
    {
        <a class="btn btn-primary" asp-page="GuessNumber">Accept</a>
    }
    @if (Model.Location.Title == "Bedroom with bets and debts")
    {
        <a class="btn btn-primary" asp-page="RPS">Play game for money!</a>
    }
</div>
<div>
    <span>HP: @Model.Player.HP</span>
    <span>MP: @Model.Player.MP</span>
    <span>Money: @Model.Player.Money</span>
</div>
