@page
@model Adventure.Pages.RPSModel
@using Adventure.Models.SideGamesData
@{
    ViewData["Title"] = "RPS";
}

<h1>RPS</h1>
<div class="text-center">
    <h1>Welcome</h1>
    <p>Hráč: @Model.Data.Player | Počítač: @Model.Data.Computer</p>
    <p>Výhry: @Model.Data.Wins | Prohry: @Model.Data.Lose</p>
</div>
<div>
    <form method="post">
        <input type="hidden" asp-for="@Model.Data.Wins" value="@Model.Data.Wins" />
        <input type="hidden" asp-for="@Model.Data.Lose" value="@Model.Data.Lose" />
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Data.Player" value="@RPSEnum.Rock">
            <label class="form-check-label" asp-for="@Model.Data.Player">Kámen</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Data.Player" value="@RPSEnum.Scissors">
            <label class="form-check-label" for="inlineRadio2">Nůžky</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="@Model.Data.Player" value="@RPSEnum.Paper">
            <label class="form-check-label" asp-for="@Model.Data.Player">Papír</label>
        </div>
        <button type="submit" class="btn btn-dark">Play</button>
    </form>
</div>


