@page
@model Adventure.Pages.StartModel
@{
    ViewData["Title"] = "Start";
}

<h1>@Model.Location.Title</h1>
<p>@Model.Location.Description</p>
<div>
    @foreach (var a in Model.Paths)
    {
        <a class="btn btn-primary" asp-page="Rooms" , asp-route-id="@a.To">@a.Description</a>
    }
</div>
<div>
    <span>HP: @Model.Player.HP</span>
    <span>MP: @Model.Player.MP</span>
    <span>Money: @Model.Player.Money</span>
    
</div>


